nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#addteam {
    color: #fff;
    text-decoration: none;
}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-buttons {
    margin: 10px;
}

.score-buttons {
    margin-top: 5px;
    margin-bottom: 0px;
    visibility: hidden;
}

.bluetext {
    color: #537fbe;
}

#bonus-container {
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

#bonus-buttons {
    flex-direction: row;
    margin: auto 0;
}

.b-button {
    margin-left: 8px;
}