{% extends "layout.html" %}

{% block title %}
    Add Team
{% endblock %}

{% block main %}
    <h1>Add A Team</h1>

    <form action="/add_team" method="post">
        <div class="form-group">
            <label for="tname">Enter team name:</label>
            <input type="text" class="form-control" id="tname" name="tname" placeholder="Team Name"></input>
        </div>
        <div class="form-group">
            <label for="pnum">How many players?</label>
            <select class="form-control" name="pnum" id="pnum" onchange="changeInputNum(this.value)">
                {% for i in range(1,4) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                <option value="4" selected>4</option>
                {% for i in range(5,9) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" id="players">
            {% for i in range(1,5) %}
                <input type="text" name="player{{ i }}" id="player{{ i }}" class="form-control pname" placeholder="Player {{ i }}"></input>
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">Add Team</button>
    </form>
    <script src="{{ url_for('static', filename='add_team.js') }}"></script>
{% endblock %} 