{% extends "layout.html" %}

{% block title %}
    Welcome to ArenaQuiz
{% endblock %}

{% block main %}
    {% if session.game_id and session.tossup_num %}
        <a href="/game" style="margin: 5px;">Return to your game in progress?</a>
    {% endif %}
    <h1 class="display-1">Welcome to <span class="bluetext">Arena</span>Quiz</h1>
    <p class="lead">Keep track of your quizbowl games!</p>
    <div class="text-left">
        <h1>Site Overview</h1>
        <p><a href="/teams">Teams</a>: View your saved teams or add additional teams.</p>
        <p><a href="/games">Games</a>: View your saved games.</p>
        <p><a href="/new_game">New Game</a>: Create a new game. Requires at least 2 teams.</p>
        <h1>Quizbowl Overview</h1>
        <p>
            Quizbowl is a fast-paced, buzzer-based knowledge competition played by teams throughout the world.
            Students are read questions on a variety of academic subjects including history, literature, science, fine arts, and more,
            and buzz in to score points for their team.
        </p>
        <p>A typical round of quizbowl consists of tossups and bonuses.</p>
        <dl>
            <dt>Tossup</dt>
            <dd>
                A question read to both teams. Each tossup has multiple clues, ordered from hardest to easiest. A player can buzz in whenever they think they know the answer.
                If a player answers a tossup correctly, their team is awarded a bonus.
            </dd>
            <dt>Bonus</dt>
            <dd>
                Each bonus consists of three parts worth 10 points each.
                After each part is read, the team answering the bonus has 5 seconds to come up with an answer.
            </dd>
        </dl>
        <p>There are some additional terms for buzzing in on a tossup:</p>
        <dl>
            <dt>Power</dt>
            <dd>
                If a player correctly buzzes in sufficiently early during a tossup (i.e. while the harder clues are being read),
                they will earn 15 points as opposed to the usual 10.
            </dd>
            <dt>Neg</dt>
            <dd>
                If a player buzzes in incorrectly while a tossup is being read, their team loses 5 points and is locked out for the rest of the tossup.
                Note that there is no penalty for buzzing in after the tossup has been read in full, or if the other team has already negged.
            </dd>
        </dl>
        <p>Finally, some common terms used in quizbowl statistics:</p>
        <dl>
            <dt>PPG</dt>
            <dd>
                Points Per Game. Used to keep track of the number of (tossup) points a player scored in a game.
                Can be used to compare players of a team when averaged over several games.
            </dd>
            <dt>PPB</dt>
            <dd>
                Points Per Bonus. Keeps track of the average number of points a team recieves on a given bonus.
                Used to compare the strengths of teams, since bonuses are less variable than tossups.
            </dd>
        </dl>
    </div>
    <p class="lead">I hope you enjoy keeping track of quizbowl scores with this site!</p>
{% endblock %}