{% extends "layout.html" %}

{% block title %}
    New Game
{% endblock %}

{% block main %}
    <h1>Create New Game</h1>
    {% if not teams %}
        <p>You have no teams yet. <a href="/newteam">Add a team?</a></p>
    {% elif teams|length == 1 %}
        <p>You only have one team. <a href="/newteam">Add a team?</a></p>
    {% else %}
        <form action="/new_game" method="post">
            <div class="form-group">
                <label for="left_team">Team 1:</label>
                <select class="form-control" name="left_team" id="left_team" onchange="disableSameTeam(this)">
                    <option selected disabled>Team 1</option>
                    {% for team in teams %}
                        <option value="{{ team.id }}" class="left_team">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="right_team">Team 2:</label>
                <select class="form-control" name="right_team" id="right_team" onchange="disableSameTeam(this)">
                    <option selected disabled>Team 2</option>
                    {% for team in teams %}
                        <option value="{{ team.id }}" class="right_team">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg" type="submit">New Game</button>
            </div>  
        </form>
        <button class="btn btn-secondary btn-sm"><a class="add-link" href="/add_team">Add a Team</a></button>
        <script src="{{ url_for('static', filename='new_game.js') }}"></script>
    {% endif %}
{% endblock %} 